
table#allComments .table__row--top td,
table#allComments .table__row--bot td {
	border: none;
}
.table {
	&--allComments {
		background-color: #343a40!important;
		color: #fff;
		a {
			color: rgba(255,255,255,.5);
			&:hover {
				color: rgba(255,255,255,.75);
				text-decoration: none;
			}
		}
		.table {
			&__row {
	
				&--top {
	
				}
	
				&--bot {
	
				}
			}

		}

		.td {
			&__top {
				&__upvote {
					width: 3%;
				}
			}
		}

	}
}