extends ../regions/_layout.pug

block body
	header.page-header
		include ../regions/header.pug
	main
		.container(role="main")
			#divUnauthorized
				+alert("error") You're not authorized
			#divAuthorized
				block content
	include ../regions/footer.pug