extends _layout.pug

block base
	- base = "./";

block title
	- title = "HackerNewz | Gode ting"

block description
	- description= "Gode ting Cphbusiness Denmark school project";

block content
	h1 Hacker Newz - Gode ting

	h3 recent posts

	table.table#allPosts
		tbody#allPostsBody
